body {
  background-color: #f7fbff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: #333;
}

.app-container {
  width: 500px;
}

#taskInput {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333;
}
#taskInput::placeholder {
  color: #aaa;
  font-weight: normal;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  border: 1px solid #eee;
  background: #fff;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.task-header label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.btn-delete {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.task-details {
  background-color: #f8f9fa;
  padding: 15px;
  border-top: 1px solid #eee;
}

.task-details label {
  font-weight: bold;
}

.task-details input,
.task-details textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
